{
	"gui" : {
		"background" : {
		  "zlevel" : -1,
		  "type" : "background",
		  "fileHeader" : "/interface/scripted/mmupgrade/header.png?multiply=00000001",
		  "fileBody" : "/resources/blankbody.png?multiply=00000001",
		  "fileFooter" : "/interface/scripted/mmupgrade/footer.png?multiply=00000001"
		},
		"bgf" : {
			"type" : "image",
			"file" : "/interface/scripted/mmupgrade/footer.png",
			"position" : [0,1],
			"data" : {"position" : [0,1]},
			"zlevel" : 0,
			"visible" : true
		},
		"bgb" : {
			"type" : "image",
			"file" : "/resources/blankbody.png",
			"position" : [0,22],
			"data" : {"position" : [0,22]},
			"zlevel" : 0,
			"visible" : true
		},
		"bgh" : {
			"type" : "image",
			"file" : "/interface/scripted/mmupgrade/header.png",
			"position" : [0,219],
			"data" : {"position" : [0,219]},
			"zlevel" : 0,
			"visible" : true
		},
    "imgTitleIcon" : {
      "type" : "image",
      "file" : "/interface/manipulatorupgradeicon.png",
      "position" : [3,220],
      "zlevel" : 14,
      "visible" : true
    },
    "lblTitle" : {
      "type" : "label",
      "position" : [29, 240],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "zlevel" : 15,
      "value" : "^shadow;^white;Manipulated UI"
    },
    "lblSubtitle" : {
      "type" : "label",
      "position" : [29, 230],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "zlevel" : 15,
      "value" : "^shadow;^gray;Manipulates more than the matter manipulator."
    },
		"close" : {
			"type" : "button",
			"base" : "/interface/cockpit/xup.png",
			"hover" : "/interface/cockpit/xdown.png",
			"pressed" : "/interface/cockpit/xdown.png",
			"callback" : "close",
			"size" : [10, 12],
			"position" : [321, 226],
			"pressedOffset" : [0, -1]
		},
		
		"btnBack" : {
			"type": "button",
			"base": "/resources/back.png",
			"hover": "/resources/backhover.png",
			"pressedOffset": [
				0,
				-1
			],
			"zlevel": 2,
			"position": [
				306,
				226
			],
			"callback" : "showInterface"
		},
		"btnSettings" : {
			"type": "button",
			"base": "/resources/cog.png",
			"hover": "/resources/coghover.png",
			"pressedOffset": [
				0,
				-1
			],
			"zlevel": 2,
			"position": [
				289,
				224
			],
			"callback" : "showSettings"
		},
		"sldOpacity" : {
			"type" : "slider",
			"position" : [10, 160],
			"gridImage" : "/interface/optionsmenu/largeselection.png",
			"range" : [0,100,1],
			"callback" : "null"
		},
		"lblOpacity" : {
			"type" : "label",
			"zlevel" : 1,
			"position" : [135, 164],
			"hAnchor" : "mid",
			"vAnchor" : "mid",
			"wrapWidth" : 240,
			"value" : "0"
		},
		
		//Gui elements for mmupgrade, all new elements should be patched.
		"btnMMUpgrade" : {
			"type" : "button",
			"base" : "/resources/UIActivator.png",
			"hover" : "/resources/UIActivator.png?brightness=60",
			"caption" : "Open Matter Manipulator\nUpgrade Window",
			"fontSize" : 7,
			"wrapWidth" : 80,
			"hAnchor" : "mid",
			"pressedOffset" : [0, -1],
			"position" : [102, 103],

      "data" : "mmupgrade",
      "callback" : "showInterface"
    },
    "imgHighlight" : {
      "type" : "image",
      "zlevel" : 1,
      "file" : "/interface/scripted/mmupgrade/highlightexpansionslot.png",
      "position" : [0, 22],
      "visible" : false
    },

    "imgSelection" : {
      "type" : "image",
      "zlevel" : 1,
      "file" : "/interface/scripted/mmupgrade/selection.png",
      "position" : [0, 0],
      "visible" : false
    },

    "lblGroup1" : {
      "type" : "label",
      "position" : [54, 196],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "value" : "^green;MATTER PROC UNIT^white;"
    },
    "btnSize1" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [69, 175],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },
    "btnSize2" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [45, 175],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },
    "btnSize3" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [22, 175],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },

    "lblGroup2" : {
      "type" : "label",
      "position" : [54, 146],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "value" : "^green;EXPANSION SLOT^white;"
    },
    "btnLiquidCollection" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [69, 126],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },
    "btnPaintMode" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [45, 126],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },
    "btnWireMode" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [22, 126],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },

    "lblGroup3" : {
      "type" : "label",
      "position" : [283, 196],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "value" : "^green;POWER GENERATOR^white;"
    },
    "btnPower1" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [250, 175],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },
    "btnPower2" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [274, 175],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },
    "btnPower3" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [297, 175],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },

    "lblGroup4" : {
      "type" : "label",
      "position" : [283, 146],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "value" : "^green;OPTICS^white;"
    },
    "btnRange1" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [250, 126],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },
    "btnRange2" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [274, 126],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },
    "btnRange3" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [297, 126],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },
		"lblUpgradeDescription" : {
		  "type" : "label",
		  "position" : [166, 79],
		  "hAnchor" : "mid",
		  "vAnchor" : "top",
		  "wrapWidth" : 240,
		  "value" : "Select an upgrade to view it's cost and benefits. This will display a bunch of text about the upgrade that should wrap neatly onto three lines at most."
		},
		"imgModuleBackground" : {
		  "type" : "image",
		  "file" : "/interface/scripted/mmupgrade/modules.png",
		  "position" : [42, 29]
		},
		"lblModuleLabel" : {
		  "type" : "label",
		  "zlevel" : 1,
		  "position" : [112, 51],
		  "hAnchor" : "mid",
		  "vAnchor" : "mid",
		  "wrapWidth" : 240,
		  "value" : "^green;MANIPULATOR MODULES^white;"
		},
		"lblModuleCount" : {
		  "type" : "label",
		  "zlevel" : 1,
		  "position" : [117, 38],
		  "hAnchor" : "right",
		  "vAnchor" : "bottom",
		  "value" : "^yellow;0 / 0^white;"
		},
		"btnUpgrade" : {
		  "type" : "button",
		  "base" : "/interface/scripted/mmupgrade/doupgrade.png",
		  "hover" : "/interface/scripted/mmupgrade/doupgrade.png",
		  "pressed" : "/interface/scripted/mmupgrade/doupgrade.png",
		  "disabledImage" : "/interface/scripted/mmupgrade/doupgradedisabled.png",
		  "pressedOffset" : [0, 0],
		  "position" : [192, 38],
		  "callback" : "performUpgrade"
		},
		
		// reset button just for testing
		"btnResetTools" : {
		  "type" : "button",
		  "base" : "/interface/scripted/mmupgrade/resetbutton.png",
		  "pressedOffset" : [0, -1],
		  "position" : [10, 22],
		  "callback" : "resetTools"
		}	
	},
	"scripts" : ["/scripts/mui.lua"],
	"scriptDelta" : 1,
	"scriptWidgetCallbacks" : ["showInterface","showSettings","selectUpgrade","performUpgrade","resetTools"],
	"packages" : [
		{
			"activator" : "btnMMUpgrade",
			"show" : ["imgHighlight", "imgSelection", "lblGroup1", "btnSize1", "btnSize2", "btnSize3","lblGroup2", "btnLiquidCollection", "btnPaintMode", "btnWireMode", "lblGroup3","btnPower1", "btnPower2","btnPower3", "lblGroup4", "btnRange1", "btnRange2", "btnRange3", "lblUpgradeDescription", "imgModuleBackground", "lblModuleLabel", "lblModuleCount", "btnUpgrade", "btnResetTools" ],
			"hide" : [],
			"update" : {"bgb" : "/interface/scripted/mmupgrade/body.png"},
			"name" : "mmupgrade",
			"script" : "/interface/scripted/mmupgrade/mmupgradegui.lua" //script should be formatted as <name>.init() and <name>.update(dt)
		
		}
	],
	"settings" : {
		"configuration" : {
			"show" : [ "lblOpacity", "sldOpacity"],
			"hide" : [],
			"update" : {},
			"name" : "settings",
			"script" : "/scripts/mui_settings.lua"
		},
		"defaults" : { //default values for selection screen.
			"bgh" : "/interface/scripted/mmupgrade/header.png",
			"bgb" : "/resources/blankbody.png",
			"bgf" : "/interface/scripted/mmupgrade/footer.png"
		}
	},
	
	"autoRefreshRate" : 0.5,

  "selectionOffset" : [-1, -1],
  
  
  "defaultDescription" : "Select an upgrade to view its cost and benefits",

//Default config for mmupgrade script
  
  "buttonStateImages" : {
    "locked" : {
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png"
    },
    "available" : {
      "base" : "/interface/scripted/mmupgrade/buttonavailable.png",
      "hover" : "/interface/scripted/mmupgrade/buttonavailablehover.png"
    },
    "complete" : {
      "base" : "/interface/scripted/mmupgrade/buttoncomplete.png",
      "hover" : "/interface/scripted/mmupgrade/buttoncompletehover.png"
    }
  },

  "overlayStateImages" : {
    "locked" : "/interface/scripted/mmupgrade/upgradelocked.png",
    "complete" : "/interface/scripted/mmupgrade/upgradecomplete.png"
  },

  "highlightImages" : {
    "expansionslot" : "/interface/scripted/mmupgrade/highlightexpansionslot.png",
    "procunit" : "/interface/scripted/mmupgrade/highlightprocunit.png",
    "optics" : "/interface/scripted/mmupgrade/highlightoptics.png",
    "powergen" : "/interface/scripted/mmupgrade/highlightpowergen.png"
  },

  "upgrades" : {
    "power1" : {
      "button" : "btnPower1",
      "prerequisites" : [],
      "moduleCost" : 10,
      "highlight" : "powergen",
      "icon" : "/interface/scripted/mmupgrade/upgradepower.png",
      "description" : "Increase matter deconstruction rate by 100%",
      "essentialSlot" : "beamaxe",
      "setItemParameters" : {
        "tileDamage" : 2.4,
        "minBeamJitter" : 0.1,
        "maxBeamJitter" : 0.2
      }
    },
    "power2" : {
      "button" : "btnPower2",
      "prerequisites" : ["power1"],
      "moduleCost" : 10,
      "highlight" : "powergen",
      "icon" : "/interface/scripted/mmupgrade/upgradepower.png",
      "description" : "Increase matter deconstruction rate by 200%",
      "essentialSlot" : "beamaxe",
      "setItemParameters" : {
        "tileDamage" : 3.6,
        "minBeamJitter" : 0.15,
        "maxBeamJitter" : 0.25
      }
    },
    "power3" : {
      "button" : "btnPower3",
      "prerequisites" : ["power2"],
      "moduleCost" : 10,
      "highlight" : "powergen",
      "icon" : "/interface/scripted/mmupgrade/upgradepower.png",
      "description" : "Increase matter deconstruction rate by 300%",
      "essentialSlot" : "beamaxe",
      "setItemParameters" : {
        "tileDamage" : 4.8,
        "minBeamJitter" : 0.2,
        "maxBeamJitter" : 0.3
      }
    },

    "size1" : {
      "button" : "btnSize1",
      "prerequisites" : [],
      "moduleCost" : 10,
      "highlight" : "procunit",
      "icon" : "/interface/scripted/mmupgrade/upgradesize.png",
      "description" : "Increase area of effect to 3x3 tiles",
      "essentialSlot" : "beamaxe",
      "setItemParameters" : {
        "blockRadius" : 3,
        "minBeamWidth" : 4,
        "maxBeamWidth" : 6
      }
    },
    "size2" : {
      "button" : "btnSize2",
      "prerequisites" : ["size1"],
      "moduleCost" : 10,
      "highlight" : "procunit",
      "icon" : "/interface/scripted/mmupgrade/upgradesize.png",
      "description" : "Increase area of effect to 4x4 tiles",
      "essentialSlot" : "beamaxe",
      "setItemParameters" : {
        "blockRadius" : 4,
        "minBeamWidth" : 6,
        "maxBeamWidth" : 8
      }
    },
    "size3" : {
      "button" : "btnSize3",
      "prerequisites" : ["size2"],
      "moduleCost" : 10,
      "highlight" : "procunit",
      "icon" : "/interface/scripted/mmupgrade/upgradesize.png",
      "description" : "Increase area of effect to 5x5 tiles",
      "essentialSlot" : "beamaxe",
      "setItemParameters" : {
        "blockRadius" : 5,
        "minBeamWidth" : 8,
        "maxBeamWidth" : 10
      }
    },

    "range1" : {
      "button" : "btnRange1",
      "prerequisites" : [],
      "moduleCost" : 5,
      "highlight" : "optics",
      "icon" : "/interface/scripted/mmupgrade/upgraderange.png",
      "description" : "Increase effective manipulator range by 2 tiles",
      "essentialSlot" : "beamaxe",
      "setStatusProperties" : {
        "bonusBeamGunRadius" : 2
      }
    },
    "range2" : {
      "button" : "btnRange2",
      "prerequisites" : ["range1"],
      "moduleCost" : 5,
      "highlight" : "optics",
      "icon" : "/interface/scripted/mmupgrade/upgraderange.png",
      "description" : "Increase effective manipulator range by 4 tiles",
      "essentialSlot" : "beamaxe",
      "setStatusProperties" : {
        "bonusBeamGunRadius" : 4
      }
    },
    "range3" : {
      "button" : "btnRange3",
      "prerequisites" : ["range2"],
      "moduleCost" : 5,
      "highlight" : "optics",
      "icon" : "/interface/scripted/mmupgrade/upgraderange.png",
      "description" : "Increase effective manipulator range by 6 tiles",
      "essentialSlot" : "beamaxe",
      "setStatusProperties" : {
        "bonusBeamGunRadius" : 6
      }
    },

    "liquidcollection" : {
      "button" : "btnLiquidCollection",
      "prerequisites" : [],
      "moduleCost" : 5,
      "highlight" : "expansionslot",
      "icon" : "/interface/scripted/mmupgrade/upgradeliquid.png",
      "description" : "Enable the collection of liquids using Excavation Mode",
      "essentialSlot" : "beamaxe",
      "setItemParameters" : {
        "canCollectLiquid" : true
      }
    },
    "paintmode" : {
      "button" : "btnPaintMode",
      "prerequisites" : ["liquidcollection"],
      "moduleCost" : 5,
      "highlight" : "expansionslot",
      "icon" : "/interface/scripted/mmupgrade/upgradepaint.png",
      "description" : "Enable Paint Mode, for painting tiles in a variety of colors",
      "essentialSlot" : "painttool",
      "setItem" : "painttool"
    },
    "wiremode" : {
      "button" : "btnWireMode",
      "prerequisites" : ["paintmode"],
      "moduleCost" : 5,
      "highlight" : "expansionslot",
      "icon" : "/interface/scripted/mmupgrade/upgradewire.png",
      "description" : "Enable Wire Mode, for wiring together functional objects",
      "essentialSlot" : "wiretool",
      "setItem" : "wiretool"
    }
  }
  
  
  
}